<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="home()">Home</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<main class="text-center" [ngStyle]="{'background-position': 'center','background-repeat': 'no-repeat','background-size': 'cover','background-image': bk} ">
    <div class="contenedor">
        <img src="/assets/images/avatar.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        <h1>Quien soy!!</h1>
        <p>Hola, me llamo Gabriel Jakubek y soy alumno de la tecnicatura superior en programacion de la UTNFRA. Mi legajo es el número 106914 y esta es mi sala de juegos para la materia laboratorio 4.</p>
    </div>
</main>