<app-menu-principal></app-menu-principal>
<main class="text-center" [ngStyle]="{'background-position': 'center','background-repeat': 'no-repeat','background-size': 'cover','background-image': bk} ">
    <div class="contenedor">
        <img src="/assets/images/avatar.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        <h1>Quien soy!!</h1>
        <p>Hola, me llamo Gabriel Jakubek y soy alumno de la tecnicatura superior en programacion de la UTNFRA. Mi legajo es el número 106914 y esta es mi sala de juegos para la materia laboratorio 4.</p>
    </div>
</main>