<main class="text-center" [ngStyle]="{'background-position': 'center','background-repeat': 'no-repeat','background-size': 'cover','background-image': bk} ">
    <form class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Bienvenido!!!</h1>
        <button class="w-100 btn btn-lg btn-primary mb-1" type="submit" (click)="login()">Login</button>
        <button class="w-100 btn btn-lg btn-secondary" type="submit" (click)="ejer1()">Ejercicio 1</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>