<main class="h_100" [ngStyle]="{'background-position': 'center','background-repeat': 'no-repeat','background-size': 'cover','background-image': bk} ">
    <button class="btn btn-sm btn-secondary mb-1" (click)="regresar()" title="Regresar"><i class="bi bi-arrow-return-left"></i></button>
    <div class="flex_container text-center form-box">

        <form [class]="mostrarLogin == true ? 'mostra' : 'ocultar'" class="form-signin" autocomplete="off">
            <i class="mb-4 bi bi-file-earmark-person tamañoIcono"></i>
            <h1 class="h3 mb-3 fw-normal">Por favor iniciar sesión</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="user" placeholder="name@example.com" [(ngModel)]="user" name="user">
                <label for="user">Dirección Email</label>
            </div>
            <div class="input-group">
                <input [type]="mostrar ? 'text' : 'password'" id="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password">
                <button class="btn btn-md btnOjo" type="button" id="btnOjoLog" (click)=" mostrarPassword()"><i [class]="mostrar == true ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i></button>
            </div>

            <div class="checkbox mb-3">
                <label><input type="checkbox" value="remember-me"> Recuerdame</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mb-1" type="submit" (click)="login()">Iniciar sesión</button>
            <button class="w-100 btn btn-lg btn-secondary mb-1" type="submit" (click)="autoCompletar()">Auto Completar</button>
            <button class="w-100 btn btn-lg btn-secondary" type="submit" (click)="cambiarVisibilidad()">Registrarse</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
        <form [class]="mostrarReg == true ? 'mostra' : 'ocultar'" class="form-signin" autocomplete="off">
            <i class="mb-4 bi bi-file-earmark-person tamañoIcono"></i>
            <h1 class="h3 mb-3 fw-normal">Por favor registrarse</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="newUser" placeholder="name@example.com" [(ngModel)]="newUser" name="newUser">
                <label for="newUser">Dirección Email</label>
            </div>
            <div class="input-group mb-1">
                <input [type]="mostrar ? 'text' : 'password'" id="newPassword" class="form-control" placeholder="Contraseña" [(ngModel)]="newPassword" name="newPassword">
                <button class="btn btn-md btnOjo" type="button" id="btnOjoReg" (click)=" mostrarPassword()"><i [class]="mostrar == true ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i></button>
            </div>
            <button class="w-100 btn btn-lg btn-secondary mb-1" type="submit" (click)="registrarse()">Registrarse</button>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="cambiarVisibilidad()">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </div>
</main>